[MAIN]
extension-pkg-allow-list=
    netifaces,

    # qtpy
    PyQt5.QtCore,
    PyQt5.QtGui,
    PyQt5.QtWidgets,

good-names=
    # qtpy
    contextMenuEvent,
    dragEnterEvent,
    dragMoveEvent,
    dropEvent,
    minimumSize,
    minimumSizeHint,
    paintEvent,

    # LiSP
    retranslateUi,

ignore-paths=
    mic_rx_monitor/_vendor

recursive=yes

[MESSAGES CONTROL]
disable=
    import-error,
    pointless-string-statement,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
